<div class="site-content" id="site-content">
	<section class="breadcrumb">
		<div class="container">
			<div class="wrap">
				<ul></ul>
			</div>
		</div>
	</section>
	<section class="page-heading">
		<div class="container">
			<h1 class="parentTitle">Training</h1>
		</div>
	</section>
</div>

<section class="body-navigation on-pre-content">
	<div class="nav-head">
		<div class="container">
			<ul>
				<li id="nav-form">
					<a href="#/training/form">
						<span class="label">Form</span>
					</a>
				</li>
				<li id="nav-freezepane">
					<a href="#/training/trainingFreezepane">
						<span class="label">
							Freezepane
						</span>
					</a>
				</li>
				<li id="nav-legend">
					<a href="#/training/legend">
						<span class="label">
							Legend
						</span>
					</a>
				</li>
				<li id="nav-tabulation">
					<a href="#/training/tabulation">
						<span class="label">
							Tabulation
						</span>
					</a>
				</li>
				<li id="nav-accordion">
					<a href="#/training/accordion">
						<span class="label">
							Accordion
						</span>
					</a>
				</li>
				<li id="nav-loader">
					<a href="#/training/loader">
						<span class="label">
							Loader
						</span>
					</a>
				</li>
				<li id="nav-back">
					<a href="#/training/back">
						<span class="label">
							Back To Welcome
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<div class="main-content has-widget" id="main-content">
	<div class="container">
		<div class="box-container">
			<div class="inside">
				<div id="trainingWrapper"></div>
			</div>
		</div>
	</div>
</div>