<div class="site-content" id="site-content">
	<!-- Bread Crumb -->
	<section class="breadcrumb">
	    <div class="container">
	        <div class="wrap">
	            <ul></ul>
	        </div>
	    </div>
	</section>
	<section class="page-heading">
		<div class="container">
			<h1 class="parentTitle">Welcome to Binusmaya!</h1>
		</div>
	</section>
</div>

<div class="main-content has-widget" id="main-content">
	<div class="container">
		<div class="box-container">
			<div class="inside">
				<!--for filter-list-->
				<form id="dynamic-form-filter" class="row" style="display:none">
					<div class="row" id="dynamic-content" style="display:none">
						<div class="column has-border three-third">
							<div class="inside">
								<div class="row content">
									<div style="display:none">
										<div  id="iSmall" style="margin-left:1%;width:32.3%;display:inline-block">
											<label class="iLabel"></label>
											<div class="iInput">
											</div>
										</div>
									</div>
									<div style="display:none">
										<div  id="iMedium" style="margin-left:1%;width:65.7%;display:inline-block">
											<label class="iLabel"></label>
											<div class="iInput">
											</div>
										</div>
									</div>
									<div style="display:none">
										<div  id="iHalf" style="margin-left:1%;width:49%;display:inline-block">
											<label class="iLabel"></label>
											<div class="iInput">
											</div>
										</div>
									</div>
									<div style="display:none">
										<div id="iBig" style="margin-left:1%;">
											<label class="iLabel"></label>
											<div class="iInput">
											</div>
										</div>
									</div>
								</div>
								<p>
								<div class="row button-list" style="text-align:right">
								</div>
								</p>
							</div>
						</div>
					</div>
					<div class="row" id="vertical-content" style="display:none">
						<div class="column has-border three-third">
							<div class="inside">
								<div class="row content">
									<div style="display:none">
										<div id="iBig" style="margin-left:1%">
											<div class="column one-third" style="width:20%;display:inline-block">
												<label class="iLabel"></label>
											</div>
											<div class="iInput" style="width:79.5%;display:inline-block">
											</div>
										</div>
									</div>
								</div>
								<div class="row button-list" style="text-align:right">
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--End filter-list -->
				<div id="DashboardContent">
					<!--main content in there-->
					<div style="width: 90%; margin: auto; margin-bottom: 30px;">
						<h2 class="bordered-heading">Welcome</h2>
						<p>
							You are one of the most talented and resourceful candidates we have hired so far. We hope you’ll do some amazing works here!
	
							Before we start today's training, click the button below to see our Binusmaya Training Template.
						</p>
						<a href="#/training/form" class="button button-primary">Go to Templates</a>
						<a onClick="location.reload(true)" class="button button-primary">REFRESH</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../asset/js/multiselect.js"></script>
<script type="text/javascript" src="../asset/js/plugins/multiselect.js"></script>