<div class="popup-content">
    <h1 class="heading">Food Stall</h1>
    <form id="form-add-foodStall">
        <p>
            <label>Food Stall Name</label>
            <input id="txtName" name="FoodStallName" type="text" disabled>
        </p>
        <p>
            <label>Food Stall Description</label>
            <input id="txtDescription" name="FoodStallDescription" type="text" disabled>
        </p>
        <p>
            <label>Payment</label>
            <span class="custom-chosen">
                <select name="PaymentID" id="ddlPayment" disabled>
                    <option value="-1">Select Payment</option>
                </select>
            </span>
        </p>
        <p>
            <label>Campus</label>
            <span class="custom-chosen">
                <select name="CampusID" id="ddlCampus" disabled>
                    <option value="-1">Select Campus</option>
                </select>
            </span>
        </p>
    </form>
</div>