<h2 class="bordered-heading">Accordion</h2>

<div class="accordion">
    <div class="item-wrap">
        <div class="head">
            <h2 class="title">Apa itu BINUS Bootstrap</h2>
            <span class="indicator"></span>
            <div id="test"></div>
        </div>
        <div class="body">
            <!-- your content here -->
            BINUS Bootstrap adalah sebuah framework CSS yang didesain sesuai dengan standar desain identity BINUS
            University.
            <span>
                <input type="button" style="margin-top:10px; margin-bottom:30px;" value="Primary"
                    class="button button-primary">
                <input type="button" style="margin-top:10px; margin-bottom:30px;" value="Secondary"
                    class="button button-secondary">
                <input type="button" style="margin-top:10px; margin-bottom:30px;" value="Orange"
                    class="button button-orange">
            </span>
            <span>
                <textarea class="editor" id="contentEditor" style="margin-top:60px;margin-bottom:60px;"></textarea>
            </span>
        </div>
    </div>
</div>
<div class="accordion">
    <div class="item-wrap">
        <div class="head">
            <h2 class="title">Apa itu BINUS Bootstrap</h2>
            <span class="indicator"></span>
            <div id="test"></div>
        </div>
        <div class="body">
            <!-- your content here -->
            BINUS Bootstrap adalah sebuah framework CSS yang didesain sesuai dengan standar desain identity BINUS
            University.
            <span>
                <input type="button" style="margin-top:10px; margin-bottom:30px;" value="Primary"
                    class="button button-primary">
                <input type="button" style="margin-top:10px; margin-bottom:30px;" value="Secondary"
                    class="button button-secondary">
                <input type="button" style="margin-top:10px; margin-bottom:30px;" value="Orange"
                    class="button button-orange">
            </span>
            <span>
                <textarea class="editor" id="contentEditor" style="margin-top:60px;margin-bottom:60px;"></textarea>
            </span>
        </div>
    </div>
</div>