<h2 class="bordered-heading">Legend</h2>

<div class="legend">
    <div class="header">Legends</div>
    <div class="group-item">
        <!-- row -->
        <div class="rows">
            <div class="item">
                <span class="bullet" style="background-color: #47af74;"></span>
                <span class="label">: Active Program</span>
            </div>
            <div class="item">
                <span class="bullet" style="background-color:red;"></span>
                <span class="label">: Deactive Program</span>
            </div>
        </div>
        <div class="rows">
            <div class="item">
                <span class="bullet" style="background-color: #47af74;"></span>
                <span class="label">: Active Program</span>
            </div>
            <div class="item">
                <span class="bullet" style="background-color:red;"></span>
                <span class="label">: Deactive Program</span>
            </div>
        </div>
    </div>
</div>