<h2 class="bordered-heading">Loader</h2>

<span class="loader">
    <span class="indicator"></span>
    <span class="progress-text" style="margin-left:40px; margin-top:5px;">Loading...</span>
</span>


<p class="action has-loader" align="right">
    <span class="loader">
        <span class="indicator"></span>
        <span class="progress-text" style="margin-left:40px; margin-top:5px;">Loading...</span>
    </span>
    <input type="submit" value="Submit" class="button button-primary" style="margin-left:80px;">
</p>