<h2 class="bordered-heading">Tabulation</h2>

<div class="tabulation">
    <div class="tab-head">
        <ul class="container">
            <li>
                <a href="#" id="tab-satu">Tab 1</a>
            </li>
            <li>
                <a href="#" id="tab-satu">Tab 2</a>
            </li>
        </ul>
    </div>
    <div class="tab-body">
        <div class="tab-body-item" style="display:none;">
            <!-- your content here -->
            Tab 1
        </div>
        <div class="tab-body-item" style="display:none;">
            <!-- your content here -->
			Tab 2
        </div>
    </div>
</div>