<h2 class="bordered-heading">Table Freezepane</h2>

<div id="headTableTraining" class="freeze-pane">
	<table id="tblTraining">
		<thead>
			<tr>
				<th class="center">No</th>
				<th class="center">Name</th>
				<th class="center">Action</th>
			</tr>
		</thead>
		<tbody id="trainingBody">
		</tbody>
	</table>
	<table id="tblTemplate" style="display:none;">
		<tr class="loopTemplate" style="cursor:pointer; display:none;">
			<td class="iNo"></td>
			<td class="iName"></td>
			<td class="iAction center">
				<a class="edit">
					<i class="icon-edit has-tooltip" title="Edit" style="cursor:pointer;"></i>
				</a>
				<a class="view">
					<i class="icon-view has-tooltip" title="View" style="cursor:pointer;"></i>
				</a>
				<a class="add">
					<i class="icon-add has-tooltip" title="Add" style="cursor:pointer;"></i>
				</a>
				<a class="delete">
					<i class="icon-trash has-tooltip" title="Delete" style="cursor:pointer;"></i>
				</a>
			</td>
		</tr>
	</table>
</div>